{% extends 'base.html.twig' %}

{% block title %}Admin- Tableau de bord |TeeShop{% endblock %}

{% block body %}
    <h1 class="text-center my-4">Tableau de bord </h1>
    <div class="row">
    <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
            <li class="nav-item" role="presentation">
                <button class="nav-link active" id="pills-home-tab" data-bs-toggle="pill" data-bs-target="#pills-home" type="button" role="tab" aria-controls="pills-home" aria-selected="true">Produits</button>
            </li>
            <li class="nav-item" role="presentation">
                <button class="nav-link" id="pills-profile-tab" data-bs-toggle="pill" data-bs-target="#pills-profile" type="button" role="tab" aria-controls="pills-profile" aria-selected="false">Membres</button>
            </li>
            <li class="nav-item" role="presentation">
                <button class="nav-link" id="pills-contact-tab" data-bs-toggle="pill" data-bs-target="#pills-contact" type="button" role="tab" aria-controls="pills-contact" aria-selected="false">Commandes</button>
            </li>
            <li class="nav-item ms-auto" role="presentation">
                    <a class="btn btn-success" href="#"><i class="bi bi-plus-circle"></i> Ajouter un produit</a>
            </li>
    </ul>
        <div class="tab-content" id="pills-tabContent">
        {#///////////////////////Table Produit////////////////////#}
        <div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab">Produits</div>
        <table class="table">
        <thead>
            <tr class="text-center">
                <th>#</th>
                <th>Titre</th>
                <th>Description</th>
                <th>Couleur</th>
                <th>Taille</th>
                <th>Collection</th>
                <th>photo</th>
                <th>prix</th>
                <th>Stock</th>
                <th>Crée le</th>
                <th>Actions</th>

            </tr>
        </thead>
        </table>
        
        {#///////////////////////Table Produit////////////////////#}
        
        {#///////////////////////Table Membres////////////////////#}
        <div class="tab-pane fade" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab">Users</div>
        {#///////////////////////Table Membres////////////////////#}
        
        {#///////////////////////Table Commandes////////////////////#}
        <div class="tab-pane fade" id="pills-contact" role="tabpanel" aria-labelledby="pills-contact-tab">Commandes</div>
        {#///////////////////////Table Commandes////////////////////#}
        
        </div>
    </div>

{% endblock %}